= render :partial => 'admin/header'

.container
  .container.col-md-12
    = will_paginate @surveys, renderer: BootstrapPagination::Rails
  .container.col-md-3
    %ul.list-group
      - @surveys.each do |survey|
        %li.list-group-item
          =simple_form_for(survey) do |form|
            =form.input :title
            =form.input :description
            =form.button :submit
          =link_to admin_surveys_path(survey_id: survey.id, page: params[:page]) do
            %button.btn Select

  .container.col-md-3
    -survey = Survey.find_by_id(params[:survey_id])
    -if survey
      %h1
        =survey.title
      %ul.list-group
      - survey.pages.each do |page|
        %li.list-group-item
          =simple_form_for(page) do |form|
            =form.input :title
            =form.input :description
            =form.input :text
            =form.button :submit
          =link_to admin_surveys_path(survey_id: params[:survey_id], page_id: page.id, page: params[:page]) do
            %button.btn Select

  .container.col-md-3
    -page = Page.find_by_id(params[:page_id])
    -if page
      %h1
        =page.title
      %ul.list-group
      - page.questions.each do |question|
        %li.list-group-item
          =simple_form_for(question) do |form|
            =form.input :text
            =form.button :submit



