default: &default
  adapter: postgresql
  host: localhost

development:
  <<: *default
  database: justask_dev

test:
  <<: *default
  database: justask_test

production:
  <<: *default
  database: justask_prod
