/*
 *= require overrides
*/

/* Bootstrap */
li.list-group-item form {
  input, textarea {
    color: black;
    margin-bottom: 5px;
    width: 100%;
  }

  label{
    margin-bottom: 0px;
  }

  .btn {
    margin-bottom: 5px;
  }
}
