/*
 *= require overrides
*/

/* Bootstrap */
li.list-group-item form {
  input[type='text'], textarea {
    color: black;
    margin-bottom: 5px;
    width: 100%;
  }

  label{
    margin-bottom: 0px;
  }

  input.btn{
    margin-bottom: 5px;
  }
}
